@font-face {
    font-family: rickyMorty;
    src: url("/font/Rick-and-Morty-Font/get_schwifty.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: rickyMorty;
    color: #04ADBF;
    -webkit-text-stroke: 0.5px #93F205;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/image/wallpaperBody.png");
    background-size: cover;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 99;
}
.logo{
    font-size: 2em;
    user-select: none;
}
.navegação a{
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navegação a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    animation: lsdBackground 2s infinite;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.navegação a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
    animation: lsdBackground 2s infinite;
}
.navegação .btn-login{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 5px solid #ded881;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    animation: LSD 2s infinite;
    transition: transform 0.5s ease-in-out;
}
.navegação .btn-login:hover{
    animation: lsdBackground 1s infinite;
    border: none;
    transform: scale(1.1);
}
.container {
    position: relative;
    width: 500px;
    height: 500px;
    background: transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: height .2s ease;
    overflow: hidden;
}
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/image/portalLogin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1000px;
    box-shadow: 0px 0px 10px rgba(11, 126, 9, 0.558);
    animation: girarBackground 10s linear infinite;
    z-index: -1;
}
.container.active{
    width: 500px;
    height: 500px;
}
.container.active-popUp{
    transform: scale(1);
}
.container .formulario-login{
    width: 100%;
    padding: 100px;
}
.formulario-login h2{
    font-size: 2em;
    text-align: center;
}
.container .formulario-login.entrada{
    transition: transform .18s ease;
    transform: translateX(0);
}
.container.active .formulario-login.entrada{
    transition: none;
    transform: translateX(-400px);
}
.container .formulario-registro.entrada{
    position: absolute;
    transform: translateX(400px);
    transition: none;
}
.container.active .formulario-registro.entrada{
    transition: transform .18s ease;
    transform: translateX(0);
}
.input{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input img{
    width: 30px;
}
.input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input input:focus~label,
.input input:valid~label{
    top: -5px;
}
.input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
}
.caixaMarcar{
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.caixaMarcar label input{
    accent-color: #93F205;
    margin-right: 3px;
}
.caixaMarcar a{
    text-decoration: none;
}
.caixaMarcar a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: green;
    animation: LSD 2s infinite;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}
.btn:hover{
    animation: lsdBackground 1s infinite;
}
.efetuarRegistro{
    font-size: .9em;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.efetuarRegistro p a {
    text-decoration: none;
    font-weight: 600;
}
.efetuarRegistro p a:hover{
    text-decoration: underline;
}
.icon-fechar{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #93F205;
    animation: lsdBackground 2s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.icon-fechar img{
    width: 50px;
}
@keyframes LSD {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes lsdBackground {
    0% {
      background-color: red;
      color: purple;
    }
    25% {
      background-color: blue;
      color: yellow;
    }
    50% {
      background-color: green;
      color: red;
    }
    75% {
      background-color: yellow;
      color: green;
    }
    100% {
      background-color: purple;
      color: blue;
    }
}

@keyframes girarBackground {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
